/* CSS for all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    height: 100vh;
    font-size: 2.1rem;
}

/* Container */

.container {
    display: flex;
    flex-direction: column;
    width: 325px;
    border-radius: 20px;
    padding: 15px 8px;
    background: linear-gradient(40deg, #121213, #252527);
    box-shadow: 0 0 4px darkgrey, 0 0 12px rgb(82, 81, 81);
}

/* Display */

.vport {
    padding: 20px 12px;
    margin: 15px 18px 5px 18px;
    text-align: right;
    background: linear-gradient(30deg, #161616, #121213);
    border-radius: 10px;
    box-shadow: inset 2px 2px 12px black;
    overflow: hidden;
    -webkit-user-drag: none;
}

/* Keys */

.keys button {
    padding: 19px 10px;
    border: none;
    border-radius: 50%;
    width: 20.5%;
    height: 20%;
    font-size: 1.05rem;
    font-weight: normal;
    color: aliceblue;
    background: #191a19;
    box-shadow: 5px 5px 12px black, -5px -5px 12px #2f2f31;
    transition: 0.06s;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

.keys button:active {
    box-shadow: 2px 2px 12px black, -2px -2px 12px #2f2f31;
    background: #161616;
}

.keys button::selection {
    border: transparent;
    outline: transparent;
}

.each-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 17px;
}

.keys .row-1 button {
    color: rgb(0, 217, 255);
}

.keys .operator {
    color: rgb(0, 217, 255);
    font-weight: bold;
}

.row-5 button:last-child {
    background: hsl(25, 100%, 45%);

}

.row-5 button:last-child:active {
    background: hsl(25, 100%, 30%);
}